@import "./css/main.css";


body {
    background-image: url('./assets/teemo.jpeg') ;
  /* Ajustez la valeur en fonction de la hauteur de votre barre de navigation */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



